<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>GAME OVER</title>
	<link rel="icon" href="../static/assets/icon.png" th:href="@{/assets/icon.png}"/>
	<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
	<link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>

<body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" id="mainNav">
		<div class="container">
			<a class="navbar-brand" th:href="@{/}"><img src="../static/assets/img/logo.png"
					th:src="@{/assets/img/logo.png}"/></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				Menu
				<i class="fas fa-bars ms-1"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<form th:action="@{/}" method="get">
					<input id="txtSearch" type="text" name="busqueda"> 
					<button class="btn btn-primary" type="submit">Buscar</button>
				</form>
				<ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
					<li class="nav-item"><a class="nav-link" th:href="@{/videojuegos}">Videojuegos</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/accesorios}">Accesorios</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/electronica}">Electrónica</a></li>
					<li class="nav-item" sec:authorize="isAnonymous()">
						<a class="navbar-brand" th:href="@{/login}"><img
								src="../static/assets/img/entrar.png" th:src="@{/assets/img/entrar.png}"/></a>
					</li>
					<li class="nav-item" sec:authorize="isAuthenticated()">
						<a class="navbar-brand" th:href="@{/logout}">
							<img src="../static/assets/img/salir.png" th:src="@{/assets/img/salir.png}"/>
						</a>
					</li>
					<li class="nav-item" sec:authorize="isAuthenticated()">
						<a class="navbar-brand" th:href="@{/carrito}">
							<img src="../static/assets/img/carrito.png" th:src="@{/assets/img/carrito.png}"/>
						</a>
					</li>
					<li class="nav-item" sec:authorize="isAuthenticated()">
						<a class="navbar-brand" th:href="@{/perfil}">
							<img src="../static/assets/img/usuario.png" th:src="@{/assets/img/usuario.png}"/>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container margend">
		<div class="row">
			<div class="col-6"><img class="img-fluid2 pb-2" th:src="${producto.foto}"/></div>
			
		    <div class="col-6">
                <form th:action="@{/añadirCarrito}" method="POST">
					<input type="hidden" th:value="${producto.id_producto}" name="id">
		    	<h2 class="text-uppercase" th:text="${producto.nombre}"></h2>
		    	<h3 class="item-intro text-warning" th:text="${producto.precio}+€"></h3>
		    	<p class="text-end" th:text="${producto.descripcion}"></p>
			    	<button class="btn btn-primary btn-xl text-uppercase " data-bs-dismiss="modal" type="submit">
						<img src="assets/img/carrito.png" th:src="@{/assets/img/carrito.png}" style="width:30px;height:30px;"/>
						AÑADIR AL CARRITO
					</button>
					<button class="btn btn-primary btn-xl text-end" type="button">
						COMPRAR
					</button>
				</form>
			</div>
			
			<div class="pt-4 py-4">

				<h4>Opiniones/valoraciones</h4>
				<th:block th:each="comentario : ${comentarios}">

					<h6>
						<span th:if="${comentario.puntuacion == 1}">⭐☆☆☆☆</span>
						<span th:if="${comentario.puntuacion == 2}">⭐⭐☆☆☆</span>
						<span th:if="${comentario.puntuacion == 3}">⭐⭐⭐☆☆</span>
						<span th:if="${comentario.puntuacion == 4}">⭐⭐⭐⭐☆</span>
						<span th:if="${comentario.puntuacion == 5}">⭐⭐⭐⭐⭐</span>
					</h6>

					<p th:text="${comentario.comentario}">

				</th:block>

				<form th:action="@{/comentario}" method="post">

					<h5 class="pt-2">-¡Dinos tu opinión! 😉</h5>
					<p class="clasificacion">
						<input id="radio1" type="radio" name="estrellas" value="5"><!--
								--><label class="estrellillas" for="radio1">★</label><!--
								--><input id="radio2" type="radio" name="estrellas" value="4"><!--
								--><label class="estrellillas" for="radio2">★</label><!--
								--><input id="radio3" type="radio" name="estrellas" value="3"><!--
								--><label class="estrellillas" for="radio3">★</label><!--
								--><input id="radio4" type="radio" name="estrellas" value="2"><!--
								--><label class="estrellillas" for="radio4">★</label><!--
								--><input id="radio5" type="radio" name="estrellas" value="1"><!--
								--><label class="estrellillas" for="radio5">★</label>
						<!--&nbsp&nbsp<span id="textoEstrellas">soiratnemoC</span>-->
					</p>

					<textarea class="form-control" id="areaComment" rows="4" placeholder="Escribe aquí tu comentario..."></textarea>
					<label class="form-label" for="areaComment"></label>

					<div class="d-flex flex-row-reverse bd-highlight">
						<div class="p-1 bd-highlight">
							<input type="submit" class="btn btn-dark" value="Enviar"></input>
						</div>
					</div>

				</form>

			</div>
				<p class="text-center"><a class="btn btn-primary w-25" type="button" th:href="@{/}">VOLVER</a></p>
	  	</div>

	</div>



    <footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-start">Copyright &copy; GAME OVER 2023</div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="col-lg-4 text-lg-end">
                    <a class="link-dark text-decoration-none me-3" href="#!">Términos de privacidad</a>
                    <a class="link-dark text-decoration-none" href="#!">Condiciones de uso</a>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>    
</body>
</html>